@model AuroraProject.ViewModels.AuctionFormViewModel

@using (Html.BeginForm("Create", "Auction", null, FormMethod.Post, new { @class = "auction-form-profile" }))
{
    @Html.AntiForgeryToken()


    <div class="container container-auction">
        <h2>Add a Gig to Pro Service</h2>
        <div>
            @Html.DropDownListFor(g => g.GigID, new SelectList(Model.Gigs, "ID", "GigName"), "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.GigID)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Bet, new { @class = "form-control", @placeholder = "Your Bet", @Value = "" })
            @Html.ValidationMessageFor(m => m.Bet)
        </div>
        <div>
            <button type="submit" class="btn btn-auction-submit shadow-none" value="Save" name="actionButton">Bet</button>
        </div>


        @foreach (var auction in Model.Auctions)
        {
            <div class="auction-div">
                <h2>
                    <span>Name:</span>
                    @auction.Gig.GigName
                </h2>
                <div>
                    <p>Current Position On Market</p>
                    @auction.PositionOnMarket
                </div>
                <div>
                    <p>Previous Bets Made</p>
                    @auction.Bet
                </div>
            </div>
        }

    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

