@model AuroraProject.ViewModels.AuctionFormViewModel

@using (Html.BeginForm("Create", "Auction", null, FormMethod.Post, new { @class = "auction-form-profile" }))
{
    @Html.AntiForgeryToken()


    <div class="container container-auction">
        <h2>Add a Gig</h2>
        <div>
            @Html.DropDownListFor(g => g.Gigs, new SelectList(Model.Gigs, "ID", "GigName"), "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.GigID)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Bet, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Bet)
        </div>

        <div>
            @Html.TextBoxFor(m => m.PositionOnMarket, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PositionOnMarket)
        </div>
        <div>
            <button type="submit" class="btn btn-primary" value="Save" name="actionButton">Save</button>
        </div>


        @foreach (var gig in Model.Gigs)
        {
            <div class="dropdown-divider"></div>
            <h2>Add a Gig</h2>
            <div>
                @gig.GigName
            </div>
            <div>
                @Model.PositionOnMarket
            </div>
            <div>
                @Model.Bet
            </div>
        }

    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

